uav_simulator/local_sensing/data/*
cascadePID/data/*
cascadePID/data/log_0.txt
fuel_planner/utils/lkh_tsp_solver/resource/single.par
fuel_planner/utils/lkh_tsp_solver/resource/single.tsp
fuel_planner/utils/lkh_tsp_solver/resource/single.txt
map_generator/resource/common_forest_005.pcd
local_sensing_fuel/*
fuel_planner/utils/lkh_tsp_solver/resource/
